<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Custom Paintings</title>
</head>

<body>
<%- include('../partials/_navbar.ejs') %>
    <h1>Your Custom Paintings</h1>
    <ul>
        <% paintings.forEach(painting=> { %>
        <li>
            <a href="/users/<%= user._id %>/paintings/<%= painting._id %>">
            <%= painting.name %>
            </a>
            <form action="/users/<%= user._id %>/paintings/<%= painting._id %>/edit">
                <button type="submit">Edit</button>
            </form>
            <form action="/users/<%= user._id %>/paintings/<%= painting._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
            </form>
        </li>
        <% }); %>
    </ul>

    <form action="/users/<%= user._id %>/paintings/new">
        <button type="submit">Create a new painting</button>
    </form>

    <form action="/">
        <button type="submit">Back to home</button>
    </form>
</body>
</html>