<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= painting.name %> Details</title>
</head>
<body>
<%- include('../partials/_navbar.ejs') %>
    <h1>
        The <%= painting.name %> by <%= painting.owner.username %>
    </h1>
    <p>Owner ID: <%= painting.owner._id %></p>
    <p>Session User ID: <%= sessionOwner._id %></p>
    <p>User ID: <%= user._id %></p>
    <p>Description: <%= painting.description %>
    </p>
    <% if (painting.owner._id.toString() === sessionOwner._id.toString()) { %>
        <a class="footer" href="/users/<%= user._id %>/paintings/<%= painting._id %>/edit">Edit this painting</a>
    <% } %>
    <a class="footer" href="/users/<%= user._id %>/paintings">Back to paintings List</a>
</body>
</html>